<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>设计原则 - 布局 - Google 设计指导</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<link rel="stylesheet" type="text/css" href="../css/folding.css" />
	<style type="text/css">
	#header {
		background-color: #c2185b;
	}
	#header a {
		color: white;
	}
	#navWrapper a.highlight {
		color: #c2185b !important;
	}
	#content .chapter h1,#content .chapter .article h2 {
		color: #c2185b;
	}
	#content .chapter .chapterToc {
		border-left-color: #f8bbd0;
	}
    #content .chapter a,#content .chapter a:hover{
		color: #c2185b !important;
	}
	#footer #pagePrevious {
		background-color: #009688;
	}
	#footer #pageNext {
		background-color: #c2185b;
	}
	</style>
	<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="../js/jquery.common.min.js"></script>
	<script type="text/javascript" src="../js/jquery.folding.min.js"></script>
	<script type="text/javascript" src="../js/gdchs.js"></script>
</head>
<body class="normalHeader normalNav">
	<div id="header">
        <div class="contentGrid">
			<img id="navButton" src="../imgs/hamburger.png" />
            <a class="normalTitle" href="#">布局<span id="subTitle">&nbsp;&gt;&nbsp;设计原则</span></a>
        </div>
	</div>
	<div id="navWrapper">
		<div id="navGrid">
			<div id="navLogo">
				<img src="../imgs/Google_Logo.png" />
			</div>
			<div id="menuGrid"></div>
			<div id="navFooter">
				<div id="navFooterGrid">
				<p>Material Design <br/>
				非官方简体中文版</p>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
        <div class="contentGrid">
			<div class="engLink">
				阅读 <a href="http://www.google.com/design/spec/layout/layout-principles.html" target="_blank">英文原文</a>
			</div>
            <div class="chapter">
				<h1 class="chapterTitle">基本原则</h1>
				<div class="chapterContent">
					<div class="chapterIntro">
						 <p>Material design 利用了许多印刷出版行业的成熟技术，例如基线、栅格和页面布局。布局指导将帮助您设计适合各种平台和屏幕尺寸的应用，并且为您的 UI 开发提供基础和扩展性。</p>
						 <p>通过参考布局指导，也能使不同的应用通过使用类似的视觉元素、栅格和留白，保持应用的一致性，这样也能使用户获得一致的舒适体验。</p>
						 <p>因此在考虑布局的实现之前，请先阅读以下的设计指导，使得您的应用符合 material design 的风格。</p>
					</div>
					<div class="chapterToc">
						<h2>目录</h2>
						<ul>
							<li>
								<a href="#paperCraft">设计模型</a>
							</li>
						</ul>
					</div>
					<div class="chapterArticles">
						<div id="paperCraft" class="article lastArticle">
							<h2>设计模型&nbsp;<span class="tocEng">Paper craft</span></h2>
							<div class="section">
								<div class="column col12">
									<p>Material design 的基本思想中，应用的整体界面就是由一系列的带有样式的纸张组合而成的。纸张都由单一的背景颜色，并且可以被折叠或者剪裁，以符合需求。常见的布局思想就是类似于将几张纸按照一定的形式进行组合。</p>
									<p>系统会绘制状态栏和系统栏，这些元素并不是被印刷在应用的纸面上的。您可以认为这些系统元素是出现在屏幕玻璃的反面，浮于应用程序的界面之上。</p>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>排列</h3>
								<div class="column col6">
									<p><strong>严丝合缝</strong> 的排列方式将两张纸的边界紧贴在一起，使得两张纸一起移动。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="Layout-principles-papercraft-papercraft-01a_large_mdpi.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p><strong>覆盖</strong> 的排列方式使得一张纸覆盖在另外一张纸之上，它们在 z 轴上位于不同的坐标，两张纸可以互相独立的移动。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="Layout-principles-papercraft-papercraft-03a_large_mdpi.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>纸张化的工具栏</h3>
								<div class="column col6">
                                    <p>类似纸条的工具栏用于显示操作按钮，操作按钮应当分布于其两边。例如导航抽屉按钮和向上箭头等导航功能应当处于工具栏左边，与上下文相关的按钮则应当处于工具栏右边。</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-principles-papercraft-papercraft-03_MISSINGASSET_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>不要用其它纸张分割工具栏的左右侧按钮，不过工具栏可以不是整个纸面宽度，您可以在旁边放置其它元素。</p>
								</div>
								<div class="column col6">
									<div class="media goodBlock">
										<img src="papercraft-04_large_mdpi.png" alt="">
									</div>
									<div class="exampleDesc">
										<label class="goodLabel">Do.</label>
										<p>工具栏不占据整个纸张宽度。</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media badBlock">
										<img src="papercraft-04_dont_large_mdpi.png" alt="">
									</div>
									<div class="exampleDesc">
										<label class="badLabel">Don't.</label>
										<p>不要用其它纸张分割工具栏</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>工具栏一般都在呈现主要内容的纸张之上，因此下面的内容可以独立的滚动，工具栏则始终处于界面顶部。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout-principles-papercraft-papercraft-05a_large_mdpi.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>有时工具栏也可以在一开始和主要内容处于同一平面，随着主要内容向下滚动，工具栏浮起到主要内容之上，这种方式称之为<strong>瀑布</strong>式的设计。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout-principles-papercraft-papercraft-06a_large_mdpi.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
                                    <p>当然，根据需要您也可以将工具栏始终放置在主要内容的同一平面，随着主要内容的滚动而移出屏幕。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout-principles-papercraft-papercraft-07a_large_mdpi.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>甚至您还可以设计成主要内容浮于工具栏之上的形式。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout-principles-papercraft-papercraft-08a_large_mdpi.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
                                    <p>工具栏都有统一的高度设计，在移动设备上时 56dp 在桌面屏幕上是 64dp。根据需要，您也可以设计更高一些的工具栏，这种工具栏中，按钮可以靠上或者靠下对齐。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout-principles-papercraft-papercraft-09a_large_mdpi.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
                                    <p>如果工具栏是固定于顶部的，那么在缩小到一定高度之前，其高度都是可变的。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout-principles-papercraft-papercraft-10a_large_mdpi.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>浮动操作</h3>
								<div class="column col6">
									<p><strong>浮动操作</strong>是另一张不同于工具栏的纸张。</p>
									<p>浮动操作显示当前上下文相关的某项单一操作，其 z 轴坐标可以处于工具栏和主要功能之间。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout-principles-papercraft-papercraft-11a_large_mdpi.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>浮动操作也可以和主要内容处于同一平面。</p>
									<p>不过请不要利用这样的设计来仅仅放置操作按钮。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout-principles-papercraft-papercraft-12a_large_mdpi.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
					</div> <!-- chapterArticles ends -->
				</div> <!-- chapterContent ends -->
			</div> <!-- chapter ends -->
			<div id="copyright">
				<p>Sun Junwen&nbsp;|&nbsp;Casper Zhang.</p>
			</div>
        </div> <!-- contentGrid ends -->
	</div>
	<div class="clear"></div>
	<div id="footer">
        <div id="pagePrevious" class="pageNav">
			<div class="pageNavContent">
				<a href="../style/typography.html">
					<img src="../imgs/Arrow-left.png" alt="">
					<span>上一页:</span>
					<div>样式</div>
				</a>
			</div>
		</div>
		<div id="pageNext" class="pageNav">
			<div class="pageNavContent">
				<a href="metrics-and-keylines.html">
					<img src="../imgs/Arrow-right.png" alt="">
					<span>下一页:</span>
					<div>标尺和基线</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
