<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>标尺和基线 - 布局 - Google 设计指导</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:regular,medium,thin,italic,mediumitalic" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<link rel="stylesheet" type="text/css" href="../css/folding.css" />
	<style type="text/css">
	#header {
		background-color: #c2185b;
	}
	#header a {
		color: white;
	}
	#navWrapper a.highlight {
		color: #c2185b !important;
	}
	#content .chapter h1,#content .chapter .article h2 {
		color: #c2185b;
	}
	#content .chapter .chapterToc {
		border-left-color: #f8bbd0;
	}
    #content .chapter a,#content .chapter a:hover{
		color: #c2185b !important;
	}
	#footer #pagePrevious {
		background-color: #c2185b;
	}
	#footer #pageNext {
		background-color: #c2185b;
	}
	</style>
	<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="../js/jquery.common.min.js"></script>
	<script type="text/javascript" src="../js/jquery.folding.min.js"></script>
	<script type="text/javascript" src="../js/gdchs.js"></script>
</head>
<body class="fixedHeader normalNav">
	<div id="header">
        <div class="contentGrid">
			<img id="navButton" src="../imgs/hamburger.png" />
            <a class="normalTitle" href="index.html">布局<span id="subTitle">&nbsp;&gt;&nbsp;标尺和基线</span></a>
        </div>
	</div>
	<div id="navWrapper">
		<div id="navGrid">
			<div id="navLogo">
				<img src="../imgs/Google_Logo.png" />
			</div>
			<div id="menuGrid"></div>
			<div id="navFooter">
				<div id="navFooterGrid">
				<p>Material Design <br/>
				非官方简体中文版</p>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
        <div class="contentGrid">
			<div class="engLink">
				阅读 <a href="http://www.google.com/design/spec/layout/metrics-and-keylines.html" target="_blank">英文原文</a>
			</div>
            <div class="chapter">
				<h1 class="chapterTitle">标尺和基线</h1>
				<div class="chapterContent">
					<div class="chapterToc">
						<h2>目录</h2>
						<ul>
							<li>
								<a href="#baselineGrids">Baseline Grids</a>
							</li>
							<li>
								<a href="#keylinesAndSpacing">Keylines and Spacing </a>
							</li>
							<li>
								<a href="#ratioKeylines">Ratio Keylines</a>
							</li>
							<li>
								<a href="#incrementalKeylines">Incremental Keylines</a>
							</li>
							<li>
								<a href="#touchTargetSize">Touch Target Size</a>
							</li>
						</ul>
					</div>
					<div class="chapterArticles">
						<div id="baselineGrids" class="article">
							<h2>Baseline Grids</h2>
							<div class="section">
								<div class="column col12">
									<p>All components align to an 8 dp square baseline grid. Type aligns to a 4 dp baseline grid. Iconography in toolbars align to a 4 dp square baseline grid. This applies to mobile, tablet, and desktop. </p>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-baselinegrids-01-8dp-baselinea_large_mdpi.png" alt="">
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-baselinegrids-01-8dp-baselineb_large_mdpi.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-baselinegrids-01-8dp-baselinec_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="media">
								<img src="layout-metrics-baselinegrids-02-8dp-baseline_large_mdpi.png" alt="">
							</div>
							<div class="exampleDesc">
								<p>See detailed information on <a href="../components/bottom-sheets.html">components</a>. </p>
							</div>
							<div class="media">
								<img src="layout-metrics-baselinegrids-baseline-03_large_mdpi.png" alt="">
							</div>
							<div class="exampleDesc">
								<p>See detailed information on <a href="../style/typography.html">typography</a>. </p>
							</div>
						</div> <!-- article ends -->
						<div id="keylinesAndSpacing" class="article">
							<h2>Keylines and Spacing</h2>
							<div class="section">
								<h3>Mobile</h3>
								<div class="column col12">
									<p>The mobile layout template includes a wide variety of screens and information about how keylines and spacing work across screen edges and elements. Below is a sample of the screens included in the download.</p>
								</div>
								<br class="clear" />
							</div>
							<div class="download">
								<a href="http://material-design.storage.googleapis.com/downloads/Layout_Mobile_Whiteframe.ai" target="_blank">
									<img alt="" src="../imgs/download.png">
									<div class="info">
										<div class="title">Mobile Layout Template</div>
										<span class="subtitle">2.4 MB (.ai)</span>
									</div>
								</a>
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-01ba_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Context</h4>
									<div class="exampleDesc">
										<p>This screen shows how icons, avatars, and a 2-line list align on the left and how a 56 dp floating action and text align on the right. </p>
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-01bb_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Vertical Keylines and Horizontal Margins</h4>
									<div class="exampleDesc">
										<p>Vertical keyline at 16 dp from the left and right edges. Content associated with an icon or avatar aligns 72 dp from the left edge. 16 dp horizontal margins on mobile. </p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-01bc_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Vertical Spacing</h4>
									<div class="exampleDesc">
										<ol>
											<li>24dp</li>
											<li>56dp</li>
											<li>48dp</li>
											<li>72dp</li>
										</ol>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-02ba_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Context</h4>
									<div class="exampleDesc">
										<p>This screen shows how icons, avatars, a 2-line list, a subtitle, and a 40 dp floating action align on the left. Icons align to the right. </p>
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-02bb_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Vertical Keylines and Horizontal Margins</h4>
									<div class="exampleDesc">
										<p>Vertical keyline for icons at 16 dp from the left and right edges. Content associated with an icon or avatar aligns 72 dp from the left edge.</p>
										<p>16 dp horizontal margins on mobile.</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-02bc_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Vertical Spacing</h4>
									<div class="exampleDesc">
										<ol>
											<li>24dp</li>
											<li>56dp</li>
											<li>72dp</li>
											<li>48dp</li>
											<li>5dp</li>
										</ol>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-03ba_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Context</h4>
									<div class="exampleDesc">
										<p>This screen shows how icons align on the left and how icons and a 56 dp floating action align on the right. </p>
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-03bb_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Vertical Keylines and Horizontal Margins</h4>
									<div class="exampleDesc">
										<p>Vertical keyline for icons at 16 dp from the left edge. Content associated with an icon or avatar aligns 72 dp from the left edge. An extra keyline is added 32 dp from the right edge to account for the 56dp circular floating action. This allows icons below the floating action to align.</p>
										<p>16 dp horizontal margins on mobile.</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-03bc_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Vertical Spacing</h4>
									<div class="exampleDesc">
										<ol>
											<li>24dp</li>
											<li>56dp</li>
											<li>8dp</li>
											<li>72dp</li>
										</ol>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-04ba_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Context</h4>
									<div class="exampleDesc">
										<p>This screen shows how icons, avatars, and text align on the left and how the floating action, icons, and text align on the right. </p>
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-04bb_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Vertical Keylines and Horizontal Margins</h4>
									<div class="exampleDesc">
										<p>Vertical keyline for icons at 16 dp from the left and right edges. Content associated with an icon or avatar aligns 72 dp from the left edge.</p>
										<p>16 dp horizontal margins on mobile.</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-04bc_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Vertical Spacing</h4>
									<div class="exampleDesc">
										<ol>
											<li>24dp</li>
											<li>56dp</li>
											<li>48dp</li>
											<li>8dp</li>
										</ol>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-05ba_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Context</h4>
									<div class="exampleDesc">
										<p>This screen shows the width of a side navigation menu and how icons, avatars, and text align on the left and icons on the right. </p>
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-05bb_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Vertical Keylines and Horizontal Margins</h4>
									<div class="exampleDesc">
										<p>Vertical keyline for icons at 16 dp from the left and right edges of the side nav. Content associated with an icon or avatar aligns 72 dp from the left edge of the side nav. The width of the side nav is equal to the width of the screen minus the height of the action bar, or in this case 56 dp from the right edge of the screen.</p>
										<p>16 dp horizontal margins on mobile.</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-05bc_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">Vertical Spacing</h4>
									<div class="exampleDesc">
										<ol>
											<li>48dp</li>
											<li>8dp</li>
											<li>56dp</li>
										</ol>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Tablet</h3>
								<div class="column col12">
									<p>The tablet layout template includes 14 different screens and shows how keylines and spacing work across screen edges and elements. Below is a sample of two of the 14 screens included in the download. </p>
								</div>
								<br class="clear" />
							</div>
							<div class="download">
								<a href="http://material-design.storage.googleapis.com/downloads/Layout_Tablet_Whiteframe.ai" target="_blank">
									<img alt="" src="../imgs/download.png">
									<div class="info">
										<div class="title">Tablet Layout Template</div>
										<span class="subtitle">3.19 MB (.ai)</span>
									</div>
								</a>
							</div>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-spacing-tablet-01_large_mdpi.png" alt="">
							</div>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-spacing-tablet-01a_large_mdpi.png" alt="">
							</div>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-spacing-tablet-01b_large_mdpi.png" alt="">
							</div>
							<div class="section">
								<ol>
									<li>24dp</li>
									<li>64dp</li>
									<li>8dp</li>
									<li>72dp</li>
								</ol>
							</div>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-spacing-tablet-02_large_mdpi.png" alt="">
							</div>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-spacing-tablet-02a_large_mdpi.png" alt="">
							</div>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-spacing-tablet-02b_large_mdpi.png" alt="">
							</div>
							<div class="section">
								<ol>
									<li>24dp</li>
									<li>64dp</li>
									<li>8dp</li>
									<li>48dp</li>
									<li>80dp</li>
								</ol>
							</div>
							<div class="section">
								<h3>Desktop</h3>
								<div class="column col12">
									<p>The desktop layout template includes 4 different screens each with 4 different window sizes and shows how keylines and spacing work across windows and elements. Below is a sample of a screen available in the download. Based on the window size, the keylines and spacing blocks will inherit grid rules from both tablet and mobile. </p>
								</div>
								<br class="clear" />
							</div>
							<div class="download">
								<a href="http://material-design.storage.googleapis.com/downloads/Layout_Desktop_Whiteframe.ai" target="_blank">
									<img alt="" src="../imgs/download.png">
									<div class="info">
										<div class="title">Desktop Layout Template</div>
										<span class="subtitle">100 MB (.ai)</span>
									</div>
								</a>
							</div>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-desktopa_large_mdpi.png" alt="">
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-desktopb_large_mdpi.png" alt="">
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-desktopc_large_mdpi.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-desktopd_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="ratioKeylines" class="article">
							<h2>Ratio Keylines</h2>
							<div class="section">
								<h3>Ratio Keylines</h3>
								<div class="column col6">
									<p>Applies to mobile screen width and UI element widths on mobile, tablet, and desktop.</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-ratiokeylines-keylines_15_large_mdpi.png" alt="">
									</div>
									<div class="exampleDesc">
										<p>Screen width </p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-ratiokeylines-ratiokeylines-02_large_mdpi.png" alt="">
									</div>
									<div class="exampleDesc">
										<p>Example</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-ratiokeylines-keylines_19_large_mdpi.png" alt="">
									</div>
									<div class="exampleDesc">
										<p>Example</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-ratiokeylines-keylines_18_large_mdpi.png" alt="">
									</div>
									<div class="exampleDesc">
										<p>Example</p>
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="incrementalKeylines" class="article">
							<h2>Incremental Keylines</h2>
							<div class="section">
								<h3>Incremental Keylines</h3>
								<div class="column col6">
									<p>An incremental keyline defines an increment, like the height of the action bar, and uses a multiple of that increment to determine the size and position of other elements in the app.</p>
									<p>Applies mostly to desktop, often to tablet, rarely to mobile. Number of increments will vary based on window size.</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="layout-metrics-incrementalkeylines-incrementalkeylines-01_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="layout-metrics-incrementalkeylines-incrementalkeylines-02_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="layout-metrics-incrementalkeylines-incrementalkeylines-03_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="layout-metrics-incrementalkeylines-incrementalkeylines-04_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="touchTargetSize" class="article">
							<h2>Touch Target Size</h2>
							<div class="section">
								<div class="column col6">
									<p>Minimum touch target size is 48 dp. Keep this in mind when spacing icons (24 dp) or avatars (40 dp) in a layout. Touch targets shouldn’t overlap.</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-touchtarget-touch-target-02a_large_mdpi.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-touchtarget-touch-target-02b_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
					</div> <!-- chapterArticles ends -->
				</div> <!-- chapterContent ends -->
			</div> <!-- chapter ends -->
			<div id="copyright">
				<p>Sun Junwen&nbsp;|&nbsp;Casper Zhang.</p>
			</div>
        </div> <!-- contentGrid ends -->
	</div>
	<div class="clear"></div>
	<div id="footer">
        <div id="pagePrevious" class="pageNav">
			<div class="pageNavContent">
				<a href="layout-principles.html">
					<img src="../imgs/Arrow-left.png" alt="">
					<span>上一页:</span>
					<div>设计原则</div>
				</a>
			</div>
		</div>
		<div id="pageNext" class="pageNav">
			<div class="pageNavContent">
				<a href="structure.html">
					<img src="../imgs/Arrow-right.png" alt="">
					<span>下一页:</span>
					<div>结构</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
