<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>标尺和基线 - 布局 - Google 设计指导</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<link rel="stylesheet" type="text/css" href="../css/folding.css" />
	<style type="text/css">
	#header {
		background-color: #c2185b;
	}
	#header a {
		color: white;
	}
	#navWrapper a.highlight {
		color: #c2185b !important;
	}
	#content .chapter h1,#content .chapter .article h2 {
		color: #c2185b;
	}
	#content .chapter .chapterToc {
		border-left-color: #f8bbd0;
	}
    #content .chapter a,#content .chapter a:hover{
		color: #c2185b !important;
	}
	#footer #pagePrevious {
		background-color: #c2185b;
	}
	#footer #pageNext {
		background-color: #c2185b;
	}
	</style>
	<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="../js/jquery.common.min.js"></script>
	<script type="text/javascript" src="../js/jquery.folding.min.js"></script>
	<script type="text/javascript" src="../js/gdchs.js"></script>
</head>
<body class="fixedHeader normalNav">
	<div id="header">
        <div class="contentGrid">
			<img id="navButton" src="../imgs/hamburger.png" />
            <a class="normalTitle" href="#">布局<span id="subTitle">&nbsp;&gt;&nbsp;标尺和基线</span></a>
        </div>
	</div>
	<div id="navWrapper">
		<div id="navGrid">
			<div id="navLogo">
				<img src="../imgs/Google_Logo.png" />
			</div>
			<div id="menuGrid"></div>
			<div id="navFooter">
				<div id="navFooterGrid">
				<p>Material Design <br/>
				非官方简体中文版</p>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
        <div class="contentGrid">
			<div class="engLink">
				阅读 <a href="http://www.google.com/design/spec/layout/metrics-and-keylines.html" target="_blank">英文原文</a>
			</div>
            <div class="chapter">
				<h1 class="chapterTitle">标尺和基线</h1>
				<div class="chapterContent">
					<div class="chapterToc">
						<h2>目录</h2>
						<ul>
							<li>
								<a href="#baselineGrids">基线栅格</a>
							</li>
							<li>
								<a href="#keylinesAndSpacing">对齐和间隔</a>
							</li>
							<li>
								<a href="#ratioKeylines">分割比例</a>
							</li>
							<li>
								<a href="#incrementalKeylines">扩展基线</a>
							</li>
							<li>
								<a href="#touchTargetSize">触摸元素大小</a>
							</li>
						</ul>
					</div>
					<div class="chapterArticles">
						<div id="baselineGrids" class="article">
							<h2>基线栅格&nbsp;<span class="tocEng">Baseline Grids</span></h2>
							<div class="section">
								<div class="column col12">
									<p>所有控件的基本元素都对齐到 8dp 宽的栅格，字体则对齐到 4dp 的栅格，工具栏图标也是对齐到 4dp 的栅格。这个设计应用于移动设备、平板和桌面。</p>
                                    <p>详细信息，请阅读 <a href="../components/buttons.html">基本元素</a> 一章。</p>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-baselinegrids-01-8dp-baselinea_large_mdpi.png" alt="">
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-baselinegrids-01-8dp-baselineb_large_mdpi.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-baselinegrids-01-8dp-baselinec_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="media">
								<img src="layout-metrics-baselinegrids-02-8dp-baseline_large_mdpi.png" alt="">
							</div>
							<div class="media">
								<img src="layout-metrics-baselinegrids-baseline-03_large_mdpi.png" alt="">
							</div>
							<div class="exampleDesc">
                                <p>详细信息，请阅读 <a href="../style/typography.html">字体</a> 一节。</p>
							</div>
						</div> <!-- article ends -->
						<div id="keylinesAndSpacing" class="article">
							<h2>对齐和间隔&nbsp;<span class="tocEng">Keylines and Spacing</span></h2>
							<div class="section">
								<h3>移动设备</h3>
								<div class="column col12">
									<p>移动设备的设计模版涵盖了多种屏幕尺寸的设备，指导您如何对元素进行对齐，并留下合适的间隔。以下是示例的下载链接。</p>
								</div>
								<br class="clear" />
							</div>
							<div class="download">
								<a href="http://material-design.storage.googleapis.com/downloads/Layout_Mobile_Whiteframe.ai" target="_blank">
									<img alt="" src="../imgs/download.png">
									<div class="info">
										<div class="title">Mobile Layout Template</div>
										<span class="subtitle">2.4 MB (.ai)</span>
									</div>
								</a>
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-01ba_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">示例</h4>
									<div class="exampleDesc">
										<p>图片展示了左对齐的图标、头像和列表以及右对齐的 56dp 浮动操作按钮。</p>
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-01bb_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">垂直对齐和水平间隔</h4>
									<div class="exampleDesc">
										<p>在垂直方向上，元素对齐到左右各 16dp 的位置。带有图标或者头像的内容对齐到左边 72dp 的位置。</p>
                                        <p>在移动设备上，水平间隔为 16dp。</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-01bc_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">垂直间隔</h4>
									<div class="exampleDesc">
										<ol>
											<li>24dp</li>
											<li>56dp</li>
											<li>48dp</li>
											<li>72dp</li>
										</ol>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-02ba_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">示例</h4>
									<div class="exampleDesc">
										<p>图片展示了左对齐的图标、头像、带有副标题的列表和 40dp 浮动操作按钮，列表还带有右对齐的图标。</p>
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-02bb_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">垂直对齐和水平间隔</h4>
									<div class="exampleDesc">
										<p>在垂直方向上，元素对齐到左右各 16dp 的位置。带有图标或者头像的内容对齐到左边 72dp 的位置。</p>
										<p>在移动设备上，水平间隔为 16dp。</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-02bc_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">垂直间隔</h4>
									<div class="exampleDesc">
										<ol>
											<li>24dp</li>
											<li>56dp</li>
											<li>72dp</li>
											<li>48dp</li>
											<li>5dp</li>
										</ol>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-03ba_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">示例</h4>
									<div class="exampleDesc">
										<p>图片展示了左对齐的图标和右对齐的 56dp 浮动操作按钮。</p>
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-03bb_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">垂直对齐和水平间隔</h4>
									<div class="exampleDesc">
										<p>在垂直方向上，元素对齐到左右各 16dp 的位置。带有图标或者头像的内容对齐到左边 72dp 的位置。由于使用了 56dp 的浮动操作按钮，在垂直方向上，其下面的图标对齐到离右侧 32dp 的位置。</p>
										<p>在移动设备上，水平间隔为 16dp。</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-03bc_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">垂直间隔</h4>
									<div class="exampleDesc">
										<ol>
											<li>24dp</li>
											<li>56dp</li>
											<li>8dp</li>
											<li>72dp</li>
										</ol>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-04ba_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">示例</h4>
									<div class="exampleDesc">
										<p>图片展示了左对齐的图标、头像和文字，以及右对齐的工具栏图标和浮动操作按钮。</p>
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-04bb_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">垂直对齐和水平间隔</h4>
									<div class="exampleDesc">
										<p>在垂直方向上，元素对齐到左右各 16dp 的位置。带有图标或者头像的内容对齐到左边 72dp 的位置。</p>
										<p>在移动设备上，水平间隔为 16dp。</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-04bc_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">垂直间隔</h4>
									<div class="exampleDesc">
										<ol>
											<li>24dp</li>
											<li>56dp</li>
											<li>48dp</li>
											<li>8dp</li>
										</ol>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-05ba_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">示例</h4>
									<div class="exampleDesc">
										<p>图片展示了左侧的导航菜单，其中包含了左对齐的图标、头像和文字，以及右对齐信息图标。</p>
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-05bb_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">垂直对齐和水平间隔</h4>
									<div class="exampleDesc">
										<p>在垂直方向上，边栏中的元素对齐到左右各 16dp 的位置。</p>
                                        <p>边栏中带有图标或者头像的内容对齐到左边 72dp 的位置。</p>
                                        <p>边栏的宽度一般是屏幕宽度减去操作栏高度，或者屏幕宽度减去 56dp。</p>
										<p>在移动设备上，水平间隔为 16dp。</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-spacing-mobile-05bc_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">垂直间隔</h4>
									<div class="exampleDesc">
										<ol>
											<li>48dp</li>
											<li>8dp</li>
											<li>56dp</li>
										</ol>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>平板</h3>
								<div class="column col12">
                                    <p>平板设计模版涵盖了 14 种屏幕尺寸的设备，指导您如何对元素进行对齐，并留下合适的间隔。以下是示例的下载链接。</p>
								</div>
								<br class="clear" />
							</div>
							<div class="download">
								<a href="http://material-design.storage.googleapis.com/downloads/Layout_Tablet_Whiteframe.ai" target="_blank">
									<img alt="" src="../imgs/download.png">
									<div class="info">
										<div class="title">Tablet Layout Template</div>
										<span class="subtitle">3.19 MB (.ai)</span>
									</div>
								</a>
							</div>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-spacing-tablet-01_large_mdpi.png" alt="">
							</div>
                            <h4 class="figureTitle">示例</h4>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-spacing-tablet-01a_large_mdpi.png" alt="">
							</div>
                            <h4 class="figureTitle">垂直对齐和水平间隔</h4>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-spacing-tablet-01b_large_mdpi.png" alt="">
							</div>
                            <h4 class="figureTitle">垂直间隔</h4>
                            <div class="exampleDesc">
								<ol>
									<li>24dp</li>
									<li>64dp</li>
									<li>8dp</li>
									<li>72dp</li>
								</ol>
							</div>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-spacing-tablet-02_large_mdpi.png" alt="">
							</div>
                            <h4 class="figureTitle">示例</h4>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-spacing-tablet-02a_large_mdpi.png" alt="">
							</div>
                            <h4 class="figureTitle">垂直对齐和水平间隔</h4>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-spacing-tablet-02b_large_mdpi.png" alt="">
							</div>
                            <h4 class="figureTitle">垂直间隔</h4>
							<div class="exampleDesc">
								<ol>
									<li>24dp</li>
									<li>64dp</li>
									<li>8dp</li>
									<li>48dp</li>
									<li>80dp</li>
								</ol>
							</div>
							<div class="section">
								<h3>桌面</h3>
								<div class="column col12">
									<p>平桌面设计模版涵盖了 4 种屏幕尺寸和 4 中窗口大小，指导您如何对元素进行对齐，并留下合适的间隔。以下是示例的下载链接。随着窗口大小的变化，布局请参考相应大小的移动设备设计模版和平板设计模版。</p>
								</div>
								<br class="clear" />
							</div>
							<div class="download">
								<a href="http://material-design.storage.googleapis.com/downloads/Layout_Desktop_Whiteframe.ai" target="_blank">
									<img alt="" src="../imgs/download.png">
									<div class="info">
										<div class="title">Desktop Layout Template</div>
										<span class="subtitle">100 MB (.ai)</span>
									</div>
								</a>
							</div>
							<div class="media">
								<img src="layout-metrics-keylines-keylines-desktopa_large_mdpi.png" alt="">
							</div>
                            <h4 class="figureTitle">全屏</h4>
							<div class="section">
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-desktopb_large_mdpi.png" alt="">
									</div>
                                    <h4 class="figureTitle">可调大小窗口</h4>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-desktopc_large_mdpi.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-keylines-keylines-desktopd_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="ratioKeylines" class="article">
							<h2>分割比例&nbsp;<span class="tocEng">Ratio Keylines</span></h2>
							<div class="section">
								<div class="column col6">
									<p>分割比例可以应用于整个移动设备屏幕和移动设备、平板以及桌面的 UI 元素布局。</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-ratiokeylines-keylines_15_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">整屏宽度</h4>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-ratiokeylines-ratiokeylines-02_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">示例</h4>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-ratiokeylines-keylines_19_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">元素宽度</h4>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-ratiokeylines-keylines_18_large_mdpi.png" alt="">
									</div>
									<h4 class="figureTitle">示例</h4>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="incrementalKeylines" class="article">
							<h2>扩展基线&nbsp;<span class="tocEng">Incremental Keylines</span></h2>
							<div class="section">
								<div class="column col6">
									<p>扩展基线可以用于调整操作栏的高度和应用中元素的大小。</p>
									<p>对于桌面应用和部分平板应用，扩展基线可以使应用适应多种窗口大小。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="layout-metrics-incrementalkeylines-incrementalkeylines-01_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="layout-metrics-incrementalkeylines-incrementalkeylines-02_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="layout-metrics-incrementalkeylines-incrementalkeylines-03_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="layout-metrics-incrementalkeylines-incrementalkeylines-04_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="touchTargetSize" class="article">
							<h2>触摸元素大小&nbsp;<span class="tocEng">Touch Target Size</span></h2>
							<div class="section">
								<div class="column col6">
									<p>最小的触摸元素大小是 48dp。尤其是在使用 24dp 的图标和 40dp 的头像时，请保持其可触摸大小为 48dp。触摸元素之间也不应该互相重叠。</p>
                                    <p>一般情况下，48dp 在屏幕上大概是 9mm 大，这样用户使用手指触摸操作会比较容易且精确。</p>
                                    <p>如果您设计的触摸元素无法达到 48dp 的大小，那么至少请保持以下标准:</p>
                                    <ul>
                                        <li>触摸元素的大小至少在任何屏幕上都不能小于 7mm。</li>
                                        <li>请保持您应用 UI 元素的密度和清晰度。</li>
                                    </ul>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout-metrics-touchtarget-touch-target-02a_large_mdpi.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout-metrics-touchtarget-touch-target-02b_large_mdpi.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
                                <div class="column col6">
                                    &nbsp;
                                </div>
                                <div class="column col6">
                                    <div class="media">
                                        <img src="layout_metrics_touchtarget3.png" alt="">
                                    </div>
                                </div>
                                <div class="column col6 nomarginRight">
                                    <div class="media">
                                        <img src="layout_metrics_touchtarget4.png" alt="">
                                    </div>
                                </div>
                                <br class="clear" />
                            </div>
						</div> <!-- article ends -->
					</div> <!-- chapterArticles ends -->
				</div> <!-- chapterContent ends -->
			</div> <!-- chapter ends -->
			<div id="copyright">
				<p>Sun Junwen&nbsp;|&nbsp;Casper Zhang.</p>
			</div>
        </div> <!-- contentGrid ends -->
	</div>
	<div class="clear"></div>
	<div id="footer">
        <div id="pagePrevious" class="pageNav">
			<div class="pageNavContent">
				<a href="layout-principles.html">
					<img src="../imgs/Arrow-left.png" alt="">
					<span>上一页:</span>
					<div>设计原则</div>
				</a>
			</div>
		</div>
		<div id="pageNext" class="pageNav">
			<div class="pageNavContent">
				<a href="structure.html">
					<img src="../imgs/Arrow-right.png" alt="">
					<span>下一页:</span>
					<div>结构</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
