<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>结构 - 布局 - Google 设计指导</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<link rel="stylesheet" type="text/css" href="../css/folding.css" />
	<style type="text/css">
	#header {
		background-color: #c2185b;
	}
	#header a {
		color: white;
	}
	#navWrapper a.highlight {
		color: #c2185b !important;
	}
	#content .chapter h1,#content .chapter .article h2 {
		color: #c2185b;
	}
	#content .chapter .chapterToc {
		border-left-color: #f8bbd0;
	}
    #content .chapter a,#content .chapter a:hover{
		color: #c2185b !important;
	}
	#footer #pagePrevious {
		background-color: #c2185b;
	}
	#footer #pageNext {
		background-color: #3f51b5;
	}
	</style>
	<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="../js/jquery.common.min.js"></script>
	<script type="text/javascript" src="../js/jquery.folding.min.js"></script>
	<script type="text/javascript" src="../js/gdchs.js"></script>
</head>
<body class="fixedHeader normalNav">
	<div id="header">
        <div class="contentGrid">
			<img id="navButton" src="../imgs/hamburger.png" />
            <a class="normalTitle" href="#">布局<span id="subTitle">&nbsp;&gt;&nbsp;结构</span></a>
        </div>
	</div>
	<div id="navWrapper">
		<div id="navGrid">
			<div id="navLogo">
				<img src="../imgs/Google_Logo.png" />
			</div>
			<div id="menuGrid"></div>
			<div id="navFooter">
				<div id="navFooterGrid">
				<p>Material Design <br/>
				非官方简体中文版</p>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
        <div class="contentGrid">
			<div class="engLink">
				阅读 <a href="http://www.google.com/design/spec/layout/structure.html" target="_blank">英文原文</a>
			</div>
            <div class="chapter">
				<h1 class="chapterTitle">结构</h1>
				<div class="chapterContent">
					<div class="chapterToc">
						<h2>目录</h2>
						<ul>
							<li>
								<a href="#uiRegionsAndGuidance">UI 结构和设计指导</a>
							</li>
							<li>
								<a href="#toolbars">工具栏</a>
							</li>
							<li>
								<a href="#appBar">应用栏</a>
							</li>
							<li>
								<a href="#systemBars">系统栏</a>
							</li>
							<li>
								<a href="#sideNav">导航抽屉</a>
							</li>
							<li>
								<a href="#whiteframes">Whiteframes</a>
							</li>
						</ul>
					</div>
					<div class="chapterArticles">
						<div id="uiRegionsAndGuidance" class="article">
							<h2>UI 结构和设计指导&nbsp;<span class="tocEng">UI regions and guidance</span></h2>
							<div class="section">
								<div class="column col12">
									<p>本节将指导您您设计横跨多个平台的应用。</p>
									<p>注意: 如何在 z 轴上合理的分布元素的详细指导，请参考 <a href="../what-is-material/environment.html">环境</a> 和 <a href="../what-is-material/objects-in-3d-space.html">3维世界的物体</a> 。</p>
									<p>不同的应用设计可以满足用户不同的需求，例如:</p>
									<ul>
										<li>有的应用只提供一个核心的 activity 来处理所有的操作，例如计算器、相机和游戏。</li>
										<li>有的应用主要满足用户在不同的分类之间切换的需求，用户使用它们时不太会进入很深入的页面，例如拨号器提供了快速拨号、最近和联系人三个标签页。</li>
										<li>有的应用则结合了复杂的数据视图和较深的导航层次，例如邮件应用提供了多个层级的目录，有例如在线购物应用的复杂商品分类。</li>
									</ul>
									<p>所以您应用提供的功能真正决定了其层次结构。</p>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>自顶向下进行设计</h3>
								<div class="column col12">
									<p>请仔细斟酌您应用的首屏界面，用户打开应用后第一眼看到的就是这个屏幕。所以无论用户是第一次启动，还是经常启动您的应用，都请给予绝佳的体验。</p>
                                    <p>设计首屏界面时，请先自问: “用户打开我的应用主要是为了干什么？”</p>
									<p><strong>突出内容</strong>。很多应用主要用于显示内容，所以不要把首屏设计成仅仅提供导航功能，而是将重要的内容显示出来，这样用户就可以立即开始使用。仔细设计布局和视觉元素，更好的展现数据和内容。</p>
									<p><strong>锚定导航和操作</strong>。就像其它的工具栏一样，应用栏可以用于放置各种操作。应用栏始终处于应用屏幕顶部，所以很适合放置导航控件，例如标签切换和导航抽屉开关。如果应用的内容可以搜索，您还可以将搜索按钮放置于应用栏，为用户进入较深的层级提供捷径。</p>
									<p><strong>引导用户使用</strong>。如果您的应用现实很多内容或者有很多功能，请考虑如何引导用户的注意力，突出您应用的重要功能。在内容区高亮跳转链接，使用浮动按钮突出功能，弱化不经常使用的操作线路。</p>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>顶层视图设计</h3>
								<div class="column col12">
									<p>顶层视图向用户展示应用的主要功能，有的应用功能单一，有的应用则比较复杂，需要有效地在不同功能之间导航。</p>
									<p><strong>在单一视图上整合导航</strong>。您可以将所有导航和部分内容放置在同一个视图中，使用户一目了然。不过如果您的应用有很多导航路径，过于复杂的选择会迷惑用户，这时需要使用合适的导航路径引导用户。</p>
									<p>何时整合上下文和导航:</p>
									<ul>
										<li>您的应用有一个主要的视图，只有少量其它视图。</li>
										<li>用户在您应用的主视图中就可以完成大部分操作。</li>
										<li>您的用户不怎么打开应用，所以需要及时展示功能路径。</li>
									</ul>
									<p><strong>使用标签在少量的重要视图之间导航</strong>。如果您的应用只有少量功能区域，且导航层级较浅，那么标签可以更好的展示出各种功能，并且只需要点击和滑动就能快速导航。不过标签需要占用大量的空间，且仅仅适合较少的功能切换导航。</p>
									<p>何时使用标签:</p>
									<ul>
										<li>用户需要频繁的切换视图。</li>
										<li>应用只有少量的顶层视图。</li>
										<li>您希望用户很容易找到其它顶层视图。</li>
									</ul>
									<p><strong>使用左侧导航抽屉管理更加复杂的应用结构</strong>。左侧的导航抽屉可以显示大量的导航目的地。如果您的应用有某个天然的“主屏幕”，那么很适合使用导航抽屉来展示其余位置。如果用户需要在应用的较深层级直接切换功能，导航抽屉也很适合。不过导航抽屉隐藏了许多功能，所以用户探索您的应用需要一段时间。</p>
									<p>何时使用导航抽屉:</p>
									<ul>
										<li>您的应用有大量的顶层视图。</li>
										<li>您需要提供快速的功能切换。</li>
										<li>您的应用有较深的导航层级，需要提供快速向上返回的方法。</li>
										<li>您希望用户不被其它不太相关的功能所打扰。</li>
									</ul>
									<p>不过无论您选择何种导航结构，整合于内容之中的导航仍然是很重要的，例如在音乐视图中提供歌手的链接，用于显示该歌手的其它歌曲，或者是在最近操作中提供显示所有历史记录的功能，再或者帖子上提供跳转到发布者个人资料的链接。这些功能使用户在相关的数据之间跳转变得更加容易。</p>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Mobile structure</h3>
								<div class="column col6">
									<p>This structure includes a permanent app bar and floating action button. An optional bottom bar can be added for additional functionality or action overflow. Side nav menus overlay all other structural elements.</p>
								</div>
								<div class="column col12 nomarginRight">
									<div class="media">
										<img src="layout_structure_regions_mobile.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Tablet structure</h3>
								<div class="column col6">
									<p>This structure shows a permanent app bar with a floating action button. The app bar absorbs elements from the tablet and mobile bottom bars. An optional bottom bar can be added for additional functionality or action overflow. A side nav overlays all other structural elements. A right nav menu can be accessed temporarily or pinned for permanent display.</p>
								</div>
								<div class="column col12 nomarginRight">
									<div class="media">
										<img src="layout_structure_regions_tablet.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Desktop structure</h3>
								<div class="column col6">
									<p>This structure contains a permanent app bar with a floating action button. The app bar absorbs elements from the tablet and mobile bottom bars. Where possible, the window controls are absorbed into the app bar. Side navigation menus can be accessed temporarily or pinned for permanent display. Side nav menus as well as the content canvas can have their own secondary toolbars for tabs, palettes, or secondary actions.</p>
								</div>
								<div class="column col12 nomarginRight">
									<div class="media">
										<img src="layout_structure_regions_desktop.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>UI regions</h3>
								<div class="column col6">
									<p>Define a primary horizontal or vertical divider.</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout_structure_regions_guidance1.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout_structure_regions_guidance2.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>Avoid slicing up the interface into too many regions which can cause L shapes. Instead, use whitespace to delineate secondary areas.</p>
								</div>
								<div class="column col6">
									<div class="media goodBlock">
										<img src="layout_structure_regions_guidance3.png" alt="">
									</div>
									<div class="exampleDesc">
										<label class="goodLabel">Do.</label>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media badBlock">
										<img src="layout_structure_regions_guidance4.png" alt="">
									</div>
									<div class="exampleDesc">
										<label class="badLabel">Don't.</label>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>Break edges with cards and floating action buttons.</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout_structure_regions_guidance5.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout_structure_regions_guidance6.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>Use cards to organize content when specific behaviors are needed or if groupings of information need more separation than what whitespace or dividers can provide.</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout_structure_regions_guidance7.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout_structure_regions_guidance8.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="toolbars" class="article">
							<h2>工具栏&nbsp;<span class="tocEng">Toolbars</span></h2>
							<div class="section">
								<div class="column col6">
									<p>Toolbars are versatile and can be used in many different ways. Here are some examples.</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_toolbars1.png" />
									</div>
									<div class="exampleDesc">
										<p>Full-width, default height app bar</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars2.png" />
									</div>
									<div class="exampleDesc">
										<p>Full-width, extended height app bar</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars3.png" />
									</div>
									<div class="exampleDesc">
										<p>Column-width toolbars at multiple levels of hierarchy</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars4.png" />
									</div>
									<div class="exampleDesc">
										<p>Flexible toolbar and card toolbar</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars5.png" />
									</div>
									<div class="exampleDesc">
										<p>Floating toolbar</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars6.png" />
									</div>
									<div class="exampleDesc">
										<p>Detached toolbar palette</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars7.png" />
									</div>
									<div class="exampleDesc">
										<p>Bottom toolbar that launches to a shelf and clings to top of keyboard or other bottom component</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars8.png" />
									</div>
									<div class="exampleDesc">
										<p>Bottom toolbar shelf</p>
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="appBar" class="article">
							<h2>应用栏&nbsp;<span class="tocEng">App bar</span></h2>
							<div class="section">
								<div class="column col6">
									<p>The app bar, formerly known as the action bar in Android, is a special kind of toolbar that’s used for branding, navigation, search, and actions.</p>
									<p>If your app has a side nav, the control to open/close the side nav is on the left side of the app bar. The control can also morph into an up arrow for page navigation. The title in the app bar reflects the current page and can be an app title, page title or a page filter.</p>
									<p>Icons on the right side of the app bar are app-related actions. The menu icon opens the overflow menu, which contains secondary actions and menu items like help, settings, and feedback.</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_structure1.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_structure2.png" />
									</div>
									<div class="exampleDesc">
										<p>Light</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_structure3.png" />
									</div>
									<div class="exampleDesc">
										<p>Dark</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_structure4.png" />
									</div>
									<div class="exampleDesc">
										<p>Colored</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_structure5.png" />
									</div>
									<div class="exampleDesc">
										<p>Transparent</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Metrics</h3>
								<div class="column col6">
									<p>Default height:</p>
									<p>Mobile Landscape: 48dp</p>
									<p>Mobile Portrait: 56dp</p>
									<p>Tablet/Desktop: 64dp</p>
									<p>For extended app bars, the height is equal to the default height plus content increment(s).</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics1.png" />
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics2.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics3.png" />
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics4.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics5.png" />
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics6.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics7.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics8.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics9.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Menus</h3>
								<div class="column col6">
									<p>A menu is a temporary sheet of paper that always overlaps the App Bar, rather than behaving as an extension of the App Bar.</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_menu1.png" />
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_menu2.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_menu3.png" />
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_menu4.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_menu5.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="systemBars" class="article">
							<h2>系统栏&nbsp;<span class="tocEng">System bars</span></h2>
							<div class="section">
								<h3>Status bar/window bar</h3>
								<div class="column col6">
									<p>On Android, the status bar contains notification icons and system icons. On Chrome, the top bar contains the window controls: minimize, full screen, and close. In a Chrome app, the top bar can disappear, and the window controls are then brought into the app bar.</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_status1.png" />
									</div>
									<div class="exampleDesc">
										<p>Android status bar</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_status2.png" />
									</div>
									<div class="exampleDesc">
										<p>Chrome window bar</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>Metrics:</p>
									<p>Android status bar height: 24dp</p>
									<p>Chrome window height: 32dp</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_status3.png" />
									</div>
									<div class="exampleDesc">
										<p>Android status bar on top of the app bar</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_status4.png" />
									</div>
									<div class="exampleDesc">
										<p>Chrome window bar on top of the app bar</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_status5.png" />
									</div>
									<div class="exampleDesc">
										<p>Chrome window controls inside app bar</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Color variants</h3>
								<div class="column col6">
									<p>By default, the color of the status or window bar is a darker tone of the app bar color. It can also reference an element in the layout or it can be translucent.</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_color1.png" />
									</div>
									<div class="exampleDesc">
										<p>Color is based on a sample taken from the content.</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_color2.png" />
									</div>
									<div class="exampleDesc">
										<p>Translucent status bar, 20% Black #000000</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_color3.png" />
									</div>
									<div class="exampleDesc">
										<p>Dark status bar</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_color4.png" />
									</div>
									<div class="exampleDesc">
										<p>Status bar color in a darker tone of the app bar color</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Android navigation bar</h3>
								<div class="column col6">
									<p>The system bar in Android houses the device navigation controls: Back, Home, and Recents. It also displays a menu for apps written for Android 2.3 or earlier.</p>
									<p>Metrics:</p>
									<p>Height: 48dp</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_android1.png" />
									</div>
									<div class="exampleDesc">
										<p>Dark</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_android2.png" />
									</div>
									<div class="exampleDesc">
										<p>Light</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Color variants</h3>
								<div class="column col6">
									<p>By default, the color of the status or window bar is a darker tone of the app bar color. It can also reference an element in the layout or it can be translucent.</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_android3.png" />
									</div>
									<div class="exampleDesc">
										<p>Translucent</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_android4.png" />
									</div>
									<div class="exampleDesc">
										<p>Translucent over complex image</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_android5.png" />
									</div>
									<div class="exampleDesc">
										<p>Translucent</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_android6.png" />
									</div>
									<div class="exampleDesc">
										<p>Transparent over even-toned image</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media goodBlock">
										<img alt="" src="layout_structure_system_android7.png" />
									</div>
									<div class="exampleDesc">
										<label class="goodLabel">Do.</label>
										<p>Color is based on a sample taken from the content.</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media badBlock">
										<img alt="" src="layout_structure_system_android8.png" />
									</div>
									<div class="exampleDesc">
										<label class="badLabel">Don't.</label>
										<p>Don’t use a transparent bar over a complex image.</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_android9.png" />
									</div>
									<div class="exampleDesc">
										<p>Reference color of device</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_android10.png" />
									</div>
									<div class="exampleDesc">
										<p>Compliment device color</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Chrome OS shelf</h3>
								<div class="column col6">
									<p>The shelf houses the app launcher, application icons, and system settings on Chrome OS.</p>
									<p>Metrics:</p>
									<p>Height: 56dp</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_chrome.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="sideNav" class="article">
							<h2>导航抽屉&nbsp;<span class="tocEng">Side nav</span></h2>
							<div class="section">
								<div class="column col6">
									<p>If present, the left and right nav bars can be pinned for permanent display or they can float temporarily as overlays. </p>
									<p>The content in the left nav is ideally navigation- or identity-based. The content in the right nav should be secondary to the main content on a page.</p>
									<p>See also <a href="../patterns/navigation-drawer.html">Navigation drawer</a>.</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_sidenav1.png" />
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_sidenav2.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Structure</h3>
								<div class="column col6">
									<p>Nav drawers that are temporary overlay the content canvas. Nav panels that are pinned sit alongside or below the content canvas.</p>
									<p><strong>Metrics</strong></p>
									<p><strong>Mobile</strong>: Width = screen width - app bar height</p>
									<p>Examples:</p>
									<ul>
										<li>Nexus 4: 304dp</li>
										<li>Nexus 5: 288dp</li>
										<li>iPhone: 264dp</li>
									</ul>
									<p><strong>Desktop</strong>: Max width for the left nav is 400dp. The right nav can vary depending on content.</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_sidenav_structure1.png" />
									</div>
									<div class="exampleDesc">
										<p>Mobile</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_sidenav_structure2.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_sidenav_structure3.png" />
									</div>
									<div class="exampleDesc">
										<p>Desktop left nav </p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_sidenav_structure4.png" />
									</div>
									<div class="exampleDesc">
										<p>Desktop right nav </p>
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="whiteframes" class="article lastArticle">
							<h2>Whiteframes</h2>
							<div class="section">
								<div class="column col6">
									<p>Whiteframes provide a variety of layout structures using a consistent approach to surfaces, layering, and shadows.</p>
									<div class="download">
										<a href="http://material-design.storage.googleapis.com/publish/v_1/quantumexternal/0Bx4BSt6jniD7SUJUS0dQVktmSXc/whiteframes.ai" target="_blank">
											<img alt="" src="../imgs/download.png">
											<div class="info">
												<div class="title">Whiteframes</div>
												<span class="subtitle">14.92 MB (.ai)</span>
											</div>
										</a>
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_bigtop_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">Carded content that expands and collapses</h4>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_calendar_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">Overlayed content details</h4>
									<div class="exampleDesc">
										<p>With focused app bar on mobile</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_contacts_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">Overlapping content card</h4>
									<div class="exampleDesc">
										<p>With multiple toolbars and background image on mobile</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_contacts_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">Extended app bar and right side nav</h4>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_gallery_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">Left side nav and one-up stream on mobile</h4>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_mail_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">Source list</h4>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_maps_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">Fullscreen background image</h4>
									<div class="exampleDesc">
										<p>With inset search field and carded search results</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_music_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">Expandable footer drawer</h4>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
					</div> <!-- chapterArticles ends -->
				</div> <!-- chapterContent ends -->
			</div> <!-- chapter ends -->
			<div id="copyright">
				<p>Sun Junwen&nbsp;|&nbsp;Casper Zhang.</p>
			</div>
        </div> <!-- contentGrid ends -->
	</div>
	<div class="clear"></div>
	<div id="footer">
        <div id="pagePrevious" class="pageNav">
			<div class="pageNavContent">
				<a href="metrics-and-keylines.html">
					<img src="../imgs/Arrow-left.png" alt="">
					<span>上一页:</span>
					<div>标尺和基线</div>
				</a>
			</div>
		</div>
		<div id="pageNext" class="pageNav">
			<div class="pageNavContent">
				<a href="../components/bottom-sheets.html">
					<img src="../imgs/Arrow-right.png" alt="">
					<span>下一页:</span>
					<div>基本元素</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
