<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>结构 - 布局 - Google 设计指导</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<link rel="stylesheet" type="text/css" href="../css/folding.css" />
	<style type="text/css">
	#header {
		background-color: #c2185b;
	}
	#header a {
		color: white;
	}
	#navWrapper a.highlight {
		color: #c2185b !important;
	}
	#content .chapter h1,#content .chapter .article h2 {
		color: #c2185b;
	}
	#content .chapter .chapterToc {
		border-left-color: #f8bbd0;
	}
    #content .chapter a,#content .chapter a:hover{
		color: #c2185b !important;
	}
	#footer #pagePrevious {
		background-color: #c2185b;
	}
	#footer #pageNext {
		background-color: #3f51b5;
	}
	</style>
	<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="../js/jquery.common.min.js"></script>
	<script type="text/javascript" src="../js/jquery.folding.min.js"></script>
	<script type="text/javascript" src="../js/gdchs.js"></script>
</head>
<body class="fixedHeader normalNav">
	<div id="header">
        <div class="contentGrid">
			<img id="navButton" src="../imgs/hamburger.png" />
            <a class="normalTitle" href="#">布局<span id="subTitle">&nbsp;&gt;&nbsp;结构</span></a>
        </div>
	</div>
	<div id="navWrapper">
		<div id="navGrid">
			<div id="navLogo">
				<img src="../imgs/Google_Logo.png" />
			</div>
			<div id="menuGrid"></div>
			<div id="navFooter">
				<div id="navFooterGrid">
				<p>Material Design <br/>
				非官方简体中文版</p>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
        <div class="contentGrid">
			<div class="engLink">
				阅读 <a href="http://www.google.com/design/spec/layout/structure.html" target="_blank">英文原文</a>
			</div>
            <div class="chapter">
				<h1 class="chapterTitle">结构</h1>
				<div class="chapterContent">
					<div class="chapterToc">
						<h2>目录</h2>
						<ul>
							<li>
								<a href="#uiRegionsAndGuidance">UI 结构和设计指导</a>
							</li>
							<li>
								<a href="#toolbars">工具栏</a>
							</li>
							<li>
								<a href="#appBar">应用栏</a>
							</li>
							<li>
								<a href="#systemBars">系统栏</a>
							</li>
							<li>
								<a href="#sideNav">导航抽屉</a>
							</li>
							<li>
								<a href="#whiteframes">Whiteframes</a>
							</li>
						</ul>
					</div>
					<div class="chapterArticles">
						<div id="uiRegionsAndGuidance" class="article">
							<h2>UI 结构和设计指导&nbsp;<span class="tocEng">UI regions and guidance</span></h2>
							<div class="section">
								<div class="column col12">
									<p>本节将指导您您设计横跨多个平台的应用。</p>
									<p>注意: 如何在 z 轴上合理的分布元素的详细指导，请参考 <a href="../what-is-material/environment.html">环境</a> 和 <a href="../what-is-material/objects-in-3d-space.html">3维世界的物体</a> 。</p>
									<p>不同的应用设计可以满足用户不同的需求，例如:</p>
									<ul>
										<li>有的应用只提供一个核心的 activity 来处理所有的操作，例如计算器、相机和游戏。</li>
										<li>有的应用主要满足用户在不同的分类之间切换的需求，用户使用它们时不太会进入很深入的页面，例如拨号器提供了快速拨号、最近和联系人三个标签页。</li>
										<li>有的应用则结合了复杂的数据视图和较深的导航层次，例如邮件应用提供了多个层级的目录，有例如在线购物应用的复杂商品分类。</li>
									</ul>
									<p>所以您应用提供的功能真正决定了其层次结构。</p>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>自顶向下进行设计</h3>
								<div class="column col12">
									<p>请仔细斟酌您应用的首屏界面，用户打开应用后第一眼看到的就是这个屏幕。所以无论用户是第一次启动，还是经常启动您的应用，都请给予绝佳的体验。</p>
                                    <p>设计首屏界面时，请先自问: “用户打开我的应用主要是为了干什么？”</p>
									<p><strong>突出内容</strong>。很多应用主要用于显示内容，所以不要把首屏设计成仅仅提供导航功能，而是将重要的内容显示出来，这样用户就可以立即开始使用。仔细设计布局和视觉元素，更好的展现数据和内容。</p>
									<p><strong>锚定导航和操作</strong>。就像其它的工具栏一样，应用栏可以用于放置各种操作。应用栏始终处于应用屏幕顶部，所以很适合放置导航控件，例如标签切换和导航抽屉开关。如果应用的内容可以搜索，您还可以将搜索按钮放置于应用栏，为用户进入较深的层级提供捷径。</p>
									<p><strong>引导用户使用</strong>。如果您的应用现实很多内容或者有很多功能，请考虑如何引导用户的注意力，突出您应用的重要功能。在内容区高亮跳转链接，使用浮动按钮突出功能，弱化不经常使用的操作线路。</p>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>顶层视图设计</h3>
								<div class="column col12">
									<p>顶层视图向用户展示应用的主要功能，有的应用功能单一，有的应用则比较复杂，需要有效地在不同功能之间导航。</p>
									<p><strong>在单一视图上整合导航</strong>。您可以将所有导航和部分内容放置在同一个视图中，使用户一目了然。不过如果您的应用有很多导航路径，过于复杂的选择会迷惑用户，这时需要使用合适的导航路径引导用户。</p>
									<p>何时整合上下文和导航:</p>
									<ul>
										<li>您的应用有一个主要的视图，只有少量其它视图。</li>
										<li>用户在您应用的主视图中就可以完成大部分操作。</li>
										<li>您的用户不怎么打开应用，所以需要及时展示功能路径。</li>
									</ul>
									<p><strong>使用标签在少量的重要视图之间导航</strong>。如果您的应用只有少量功能区域，且导航层级较浅，那么标签可以更好的展示出各种功能，并且只需要点击和滑动就能快速导航。不过标签需要占用大量的空间，且仅仅适合较少的功能切换导航。</p>
									<p>何时使用标签:</p>
									<ul>
										<li>用户需要频繁的切换视图。</li>
										<li>应用只有少量的顶层视图。</li>
										<li>您希望用户很容易找到其它顶层视图。</li>
									</ul>
									<p><strong>使用左侧导航抽屉管理更加复杂的应用结构</strong>。左侧的导航抽屉可以显示大量的导航目的地。如果您的应用有某个天然的“主屏幕”，那么很适合使用导航抽屉来展示其余位置。如果用户需要在应用的较深层级直接切换功能，导航抽屉也很适合。不过导航抽屉隐藏了许多功能，所以用户探索您的应用需要一段时间。</p>
									<p>何时使用导航抽屉:</p>
									<ul>
										<li>您的应用有大量的顶层视图。</li>
										<li>您需要提供快速的功能切换。</li>
										<li>您的应用有较深的导航层级，需要提供快速向上返回的方法。</li>
										<li>您希望用户不被其它不太相关的功能所打扰。</li>
									</ul>
									<p>不过无论您选择何种导航结构，整合于内容之中的导航仍然是很重要的，例如在音乐视图中提供歌手的链接，用于显示该歌手的其它歌曲，或者是在最近操作中提供显示所有历史记录的功能，再或者帖子上提供跳转到发布者个人资料的链接。这些功能使用户在相关的数据之间跳转变得更加容易。</p>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>移动设备应用设计</h3>
								<div class="column col6">
									<p>这个设计包括了固定的应用栏和浮动按钮。底部还可以根据需要放置一些功能。边上的导航抽屉用于放置其它的功能。</p>
								</div>
								<div class="column col12 nomarginRight">
									<div class="media">
										<img src="layout_structure_regions_mobile.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>平板设备应用设计</h3>
								<div class="column col6">
									<p>这个设计包括了固定的应用栏和浮动按钮，这里的应用栏包含了移动设备的设计中的底部栏。如果需要，也可以在应用底部添加底部栏。边上的导航抽屉用于放置其它的功能。右侧栏可以是浮动的，也可以是固定的。</p>
								</div>
								<div class="column col12 nomarginRight">
									<div class="media">
										<img src="layout_structure_regions_tablet.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>桌面应用设计</h3>
								<div class="column col6">
									<p>这个设计包括了固定的应用栏和浮动按钮，这里的应用栏包含了移动和平板设备的设计中的底部栏，应用栏还可以放置窗口控件。边上的导航抽屉用于放置其它的功能，可以是浮动的，也可以是固定的。边栏可以包含自己的工具栏，色调和操作栏。</p>
								</div>
								<div class="column col12 nomarginRight">
									<div class="media">
										<img src="layout_structure_regions_desktop.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>UI 区域</h3>
								<div class="column col6">
									<p>横向或者纵向的分割。</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout_structure_regions_guidance1.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout_structure_regions_guidance2.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>请不要将界面分割成太多的小块，甚至构成 L 型的布局。请在需要时使用留白来分割功能区域。</p>
								</div>
								<div class="column col6">
									<div class="media goodBlock">
										<img src="layout_structure_regions_guidance3.png" alt="">
									</div>
									<div class="exampleDesc">
										<label class="goodLabel">Do.</label>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media badBlock">
										<img src="layout_structure_regions_guidance4.png" alt="">
									</div>
									<div class="exampleDesc">
										<label class="badLabel">Don't.</label>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>使用卡片和浮动按钮切割边界。</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout_structure_regions_guidance5.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout_structure_regions_guidance6.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>可以使用卡片来集合分组内容，相比使用留白或者分割线，能够提供更好的体验。</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="layout_structure_regions_guidance7.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="layout_structure_regions_guidance8.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="toolbars" class="article">
							<h2>工具栏&nbsp;<span class="tocEng">Toolbars</span></h2>
							<div class="section">
								<div class="column col6">
									<p>工具栏可以体现很多功能。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_toolbars1.png" />
									</div>
									<div class="exampleDesc">
										<p>全屏宽度、默认高度的应用栏</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars2.png" />
									</div>
									<div class="exampleDesc">
										<p>全屏宽度、扩展高度的应用栏</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars3.png" />
									</div>
									<div class="exampleDesc">
										<p>分栏宽度的工具栏，提供了多层级的功能</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars4.png" />
									</div>
									<div class="exampleDesc">
										<p>自适应的工具栏和卡片栏</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars5.png" />
									</div>
									<div class="exampleDesc">
										<p>浮动工具栏</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars6.png" />
									</div>
									<div class="exampleDesc">
										<p>浮动功能面板</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars7.png" />
									</div>
									<div class="exampleDesc">
										<p>底部工具栏，可以随着键盘弹起而升高位置</p>
									</div>
									<div class="media">
										<img alt="" src="layout_structure_toolbars8.png" />
									</div>
									<div class="exampleDesc">
										<p>底部栏的抽屉效果</p>
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="appBar" class="article">
							<h2>应用栏&nbsp;<span class="tocEng">App bar</span></h2>
							<div class="section">
								<div class="column col6">
									<p>应用栏，以前在 Android 系统中称之为操作栏，用于放置商标、导航按钮、搜索和功能按钮。</p>
									<p>如果您的应用有边栏，那么边栏的开关按钮放置在应用栏的左侧，该按钮在需要时也可以变成返回按钮。应用栏的标题对应于当前页面内容。</p>
									<p>应用栏右侧的按钮则是一些操作，例如菜单按钮可以打开更多操作菜单，显示更多的功能，包括帮助、设置和反馈。</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_structure1.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_structure2.png" />
									</div>
									<div class="exampleDesc">
										<p>Light</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_structure3.png" />
									</div>
									<div class="exampleDesc">
										<p>Dark</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_structure4.png" />
									</div>
									<div class="exampleDesc">
										<p>彩色的</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_structure5.png" />
									</div>
									<div class="exampleDesc">
										<p>透明的</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>尺寸</h3>
								<div class="column col6">
									<p>默认高度:</p>
									<p>移动设备横向: 48dp</p>
									<p>移动设备纵向: 56dp</p>
									<p>平板/桌面: 64dp</p>
									<p>对于扩展应用栏，高度可以是默认高度加上内容高度。</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics1.png" />
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics2.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics3.png" />
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics4.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics5.png" />
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics6.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics7.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics8.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_metrics9.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>菜单</h3>
								<div class="column col6">
									<p>菜单弹出后，应该覆盖在应用栏之上，而不是应用栏的扩展。</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_menu1.png" />
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_menu2.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_appbar_menu3.png" />
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_menu4.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_appbar_menu5.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="systemBars" class="article">
							<h2>系统栏&nbsp;<span class="tocEng">System bars</span></h2>
							<div class="section">
								<h3>状态栏/窗口栏</h3>
								<div class="column col6">
									<p>在 Android 上，状态栏包括了通知图标和系统图标。在 Chrome 上，窗口栏则包括了常见的窗口控件：最小化、全屏和关闭按钮。Chrome app 中，窗口栏可以和应用栏合并，在应用栏中显示窗口控件。</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_status1.png" />
									</div>
									<div class="exampleDesc">
										<p>Android 状态栏</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_status2.png" />
									</div>
									<div class="exampleDesc">
										<p>Chrome 窗口栏</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									<p>尺寸:</p>
									<p>Android 状态栏高度: 24dp</p>
									<p>Chrome 窗口栏高度: 32dp</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_status3.png" />
									</div>
									<div class="exampleDesc">
										<p>在应用栏之上的 Android 状态栏</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_status4.png" />
									</div>
									<div class="exampleDesc">
										<p>在应用栏之上的 Chrome 窗口栏</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_status5.png" />
									</div>
									<div class="exampleDesc">
										<p>和应用栏集成的 Chrome 窗口控件</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>色彩变化</h3>
								<div class="column col6">
									<p>默认情况下，状态栏和窗口栏选择比应用栏稍微深一些的颜色。不过也可以从布局中选择另一种颜色，或者设置成透明的。</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_color1.png" />
									</div>
									<div class="exampleDesc">
										<p>从内容中选择一种颜色</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_color2.png" />
									</div>
									<div class="exampleDesc">
										<p>透明的状态栏，20% Black #000000</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_color3.png" />
									</div>
									<div class="exampleDesc">
										<p>深色状态栏</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_color4.png" />
									</div>
									<div class="exampleDesc">
										<p>比应用栏颜色稍深的状态栏</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Android 导航栏</h3>
								<div class="column col6">
                                    <p>Android 系统提供了自带的导航栏，包括: 返回、主屏幕和最近的应用按钮。为了兼容 Android 2.3 的应用，还会显示菜单按钮。</p>
									<p>Metrics:</p>
									<p>Height: 48dp</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_android1.png" />
									</div>
									<div class="exampleDesc">
										<p>Dark</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_android2.png" />
									</div>
									<div class="exampleDesc">
										<p>Light</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>色彩变化</h3>
								<div class="column col6">
									<p>默认情况下，导航栏选择比应用栏稍微深一些的颜色。不过也可以从布局中选择另一种颜色，或者设置成透明的。</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_android3.png" />
									</div>
									<div class="exampleDesc">
										<p>透明的</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_android4.png" />
									</div>
									<div class="exampleDesc">
										<p>复杂背景之上的透明导航栏</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_android5.png" />
									</div>
									<div class="exampleDesc">
										<p>透明的</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_android6.png" />
									</div>
									<div class="exampleDesc">
										<p>渐变背景之上的透明导航栏</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media goodBlock">
										<img alt="" src="layout_structure_system_android7.png" />
									</div>
									<div class="exampleDesc">
										<label class="goodLabel">Do.</label>
										<p>从布局中选择一种颜色。</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media badBlock">
										<img alt="" src="layout_structure_system_android8.png" />
									</div>
									<div class="exampleDesc">
										<label class="badLabel">Don't.</label>
										<p>不要在杂乱背景之上使用透明导航栏。</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_system_android9.png" />
									</div>
									<div class="exampleDesc">
										<p>参考设备颜色</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_android10.png" />
									</div>
									<div class="exampleDesc">
										<p>与设备颜色形成对比</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>Chrome OS shelf</h3>
								<div class="column col6">
									<p>Shelf 用于放置启动器、正在运行的应用和系统设置图标。</p>
									<p>尺寸:</p>
									<p>高度: 56dp</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_system_chrome.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="sideNav" class="article">
							<h2>导航抽屉&nbsp;<span class="tocEng">Side nav</span></h2>
							<div class="section">
								<div class="column col6">
									<p>边栏可以是固定位置的，也可以是滑入滑出的。</p>
									<p>左侧栏的内容一般适用于导航的，右侧栏一般是主要内容的附加信息。</p>
									<p>请阅读 <a href="../patterns/navigation-drawer.html">导航抽屉</a> 一节。</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_sidenav1.png" />
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_sidenav2.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<h3>设计结构</h3>
								<div class="column col6">
									<p>导航抽屉滑入后覆盖在主内容之上，或者在宽屏幕上固定于侧边。</p>
									<p><strong>尺寸</strong></p>
									<p><strong>移动设备</strong>: 宽度 = 屏幕宽度 - 应用栏高度</p>
									<p>例如:</p>
									<ul>
										<li>Nexus 4: 304dp</li>
										<li>Nexus 5: 288dp</li>
										<li>iPhone: 264dp</li>
									</ul>
									<p><strong>桌面</strong>: 左侧边栏最大宽度为 400dp。右侧边栏的宽度则根据内容需要而调整。</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout_structure_sidenav_structure1.png" />
									</div>
									<div class="exampleDesc">
										<p>移动设备</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_sidenav_structure2.png" />
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_sidenav_structure3.png" />
									</div>
									<div class="exampleDesc">
										<p>桌面的左侧导航</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img alt="" src="layout_structure_sidenav_structure4.png" />
									</div>
									<div class="exampleDesc">
										<p>桌面的右侧栏</p>
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="whiteframes" class="article lastArticle">
							<h2>Whiteframes</h2>
							<div class="section">
								<div class="column col6">
									<p>Whiteframes 可以通过表面、层级和阴影提供多种布局。</p>
									<div class="download">
										<a href="http://material-design.storage.googleapis.com/publish/v_1/quantumexternal/0Bx4BSt6jniD7SUJUS0dQVktmSXc/whiteframes.ai" target="_blank">
											<img alt="" src="../imgs/download.png">
											<div class="info">
												<div class="title">Whiteframes</div>
												<span class="subtitle">14.92 MB (.ai)</span>
											</div>
										</a>
									</div>
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_bigtop_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">可以扩展和收缩的卡片布局</h4>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_calendar_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">浮动细节内容</h4>
									<div class="exampleDesc">
										<p>在移动设备上和应用栏配合使用</p>
									</div>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_contacts_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">浮动内容区域</h4>
									<div class="exampleDesc">
										<p>在移动设备上配合多个工具栏和背景一起使用</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_contacts_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">扩展的应用栏和右侧栏</h4>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_gallery_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">移动设备上的左侧栏和流式布局</h4>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_mail_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">列表</h4>
								</div>
								<br class="clear" />
							</div>
							<div class="section">
								<div class="column col6">
									&nbsp;
								</div>
								<div class="column col6">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_maps_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">全屏背景图片</h4>
									<div class="exampleDesc">
										<p>显示浮动的搜索栏和卡片式的搜索结果</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img alt="" src="layout-structure-whiteframe_music_large_xhdpi.png" />
									</div>
									<h4 class="figureTitle">扩展的底部抽屉</h4>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
					</div> <!-- chapterArticles ends -->
				</div> <!-- chapterContent ends -->
			</div> <!-- chapter ends -->
			<div id="copyright">
				<p>Sun Junwen&nbsp;|&nbsp;Casper Zhang.</p>
			</div>
        </div> <!-- contentGrid ends -->
	</div>
	<div class="clear"></div>
	<div id="footer">
        <div id="pagePrevious" class="pageNav">
			<div class="pageNavContent">
				<a href="metrics-and-keylines.html">
					<img src="../imgs/Arrow-left.png" alt="">
					<span>上一页:</span>
					<div>标尺和基线</div>
				</a>
			</div>
		</div>
		<div id="pageNext" class="pageNav">
			<div class="pageNavContent">
				<a href="../components/bottom-sheets.html">
					<img src="../imgs/Arrow-right.png" alt="">
					<span>下一页:</span>
					<div>基本元素</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
