<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>对话框 - 基本元素 - Google 设计指导</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../css/style.css" />
	<link rel="stylesheet" type="text/css" href="../css/folding.css" />
	<style type="text/css">
	#header {
		background-color: #3f51b5;
	}
	#header a {
		color: white;
	}
	#navWrapper a.highlight {
		color: #3f51b5 !important;
	}
	#content .chapter h1,#content .chapter .article h2 {
		color: #3f51b5;
	}
	#content .chapter .chapterToc {
		border-left-color: #c5cae9;
	}
    #content .chapter a,#content .chapter a:hover{
		color: #3f51b5 !important;
	}
	#footer #pagePrevious {
		background-color: #3f51b5;
	}
	#footer #pageNext {
		background-color: #3f51b5;
	}
	</style>
	<script type="text/javascript" src="../js/jquery-1.4.4.min.js"></script>
	<script type="text/javascript" src="../js/jquery.common.min.js"></script>
	<script type="text/javascript" src="../js/jquery.folding.min.js"></script>
	<script type="text/javascript" src="../js/gdchs.js"></script>
</head>
<body class="fixedHeader normalNav">
	<div id="header">
        <div class="contentGrid">
			<img id="navButton" src="../imgs/hamburger.png" />
            <a class="normalTitle" href="#">基本元素<span id="subTitle">&nbsp;&gt;&nbsp;对话框</span></a>
        </div>
	</div>
	<div id="navWrapper">
		<div id="navGrid">
			<div id="navLogo">
				<img src="../imgs/Google_Logo.png" />
			</div>
			<div id="menuGrid"></div>
			<div id="navFooter">
				<div id="navFooterGrid">
				<p>Material Design <br/>
				非官方简体中文版</p>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
        <div class="contentGrid">
			<div class="engLink">
				阅读 <a href="http://www.google.com/design/spec/components/dialogs.html" target="_blank">英文原文</a>
			</div>
            <div class="chapter">
				<h1 class="chapterTitle">对话框</h1>
				<div class="chapterContent">
					<div class="chapterIntro">
						 <p>Dialogs inform users about critical information, require users to make decisions, or encapsulate multiple tasks within a discrete process. Use dialogs sparingly because they are interruptive in nature—their sudden appearance forces users to stop their current task and refocus on the dialog content. Not every choice, setting, or detail warrants such interruption and prominence.</p>
                         <p>Alternatives to dialogs include simple menus or inline expansion within the current content area. Both approaches present information or options while maintaining the current context and are less disruptive.</p>
					</div>
					<div class="chapterToc">
						<h2>目录</h2>
						<ul>
							<li>
								<a href="#contentArticle">Content</a>
							</li>
							<li>
								<a href="#behavior">Behavior</a>
							</li>
							<li>
								<a href="#alerts">Alerts</a>
							</li>
                            <li>
								<a href="#simpleMenus">Simple menus</a>
							</li>
                            <li>
								<a href="#simpleDialogs">Simple dialogs</a>
							</li>
                            <li>
								<a href="#confirmationDialogs">Confirmation dialogs</a>
							</li>
                            <li>
								<a href="#fullScreenDialogs">Full-screen dialogs</a>
							</li>
                            <li>
								<a href="#specs">Specs</a>
							</li>
						</ul>
					</div>
					<div class="chapterArticles">
						<div id="contentArticle" class="article">
							<h2>Content</h2>
                            <div class="section">
								<div class="column col6">
									<p>Dialog content can vary widely, but typically consists of text and/or UI control elements and is focused on a specific task or process, such as confirming item deletion or choosing a setting.</p>
									<p>Use inline expansion within the content area of dialogs to disclose additional information or content such as advanced options. Avoid opening additional dialogs from within a dialog.</p>
									<p>Full-screen dialogs may open additional dialogs, such as pickers, because their design accommodates additional layers of material without significantly increasing the perceived z-depth of the app or increasing visual noise.</p>
									<p>Avoid creating dialogs with scrolling content, particularly alerts. Instead, consider alternate containers or layouts that are optimized for reading or interacting with significant amounts of content</p>
								</div>
								<div class="column col6">
									<div class="media">
										<img src="components_dialogs_content1.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="components_dialogs_content2.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
						<div id="behavior" class="article">
							<h2>Behavior</h2>
							<div class="section">
								<div class="column col6">
									<p>Dialogs are separate from the underlying parent material and do not scroll with the parent material.</p>
									<p>Certain types of dialog content naturally needs to scroll, such as a long list of ringtones. In these cases, make it obvious that content scrolls by displaying scroll bars by default.</p>
									<p>Dialogs should never be obscured by other elements or appear only partially on screen. Dialogs always retain focus until they have been affirmed or dismissed or a required action has been taken, such as choosing a setting.</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="components_dialogs_1.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
                        <div id="alerts" class="article">
							<h2>Alerts</h2>
							<div class="section">
								<div class="column col12">
									<p>Alerts inform the user about a situation or action that requires their confirmation or acknowledgement before proceeding. They differ slightly in appearance based upon the severity and impact of the message conveyed.</p>
									<p>Alerts are interruptive and urgent, and prevent users from proceeding until they make a decision. </p>
									<p><strong>Disambiguation</strong>: In contrast to Alerts, <a href="snackbars-toasts.html">Snackbars</a> present optional but important information or actions and usually appear after an action. For example, use an alert to confirm discarding a draft. Use a snackbar to present an undo action, because the action is optional and the user can continue with their primary task without taking action.</p>
								</div>
								<br class="clear" />
                             </div>
                             <div class="section">
								<div class="column col6">
									<p><strong>Alerts without title bars</strong></p>
									<p>Most alerts don't need titles. Usually the decision doesn't have a severe impact and can be summed up succinctly in a sentence or two. The content area should either ask a question (such as "Delete this conversation?") or make a clear statement whose relationship to the action buttons is obvious.</p>
								</div>
								<div class="column col6">
									<div class="media goodBlock">
										<img src="components_alerts_1.png" alt="">
									</div>
                                    <div class="exampleDesc">
										<label class="goodLabel">Do.</label>
                                        <p>The affirmative action text Discard clearly indicates the outcome of the decision.</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media badBlock">
										<img src="components_alerts_2.png" alt="">
									</div>
                                    <div class="exampleDesc">
										<label class="badLabel">Don't.</label>
                                        <p>The dismissive action text No answers the question, but does not suggest what will happen afterwards. A better action pair would be an explicit Cancel and Delete.</p>
									</div>
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
								<div class="column col6">
									<p><strong>Alerts with title bars</strong></p>
									<p>Use alerts with title bars sparingly. They are appropriate only for high-risk situations, such as potential loss of data or connectivity, or extra charges. </p>
									<p>If a title is required, use a clear question or statement along with some additional explanation in the content area. For example, "Erase USB storage?"</p>
									<p>Avoid apologies and ambiguous statements or questions. For example, “Warning!” or “Are you sure?”</p>
									<p>A user should be able to skip the content completely and still have a clear idea of what choices are available based on the title and the text of the action buttons.</p>
								</div>
								<div class="column col6">
									<div class="media goodBlock">
										<img src="components_dialogs_usage1.png" alt="">
									</div>
                                    <div class="exampleDesc">
										<label class="goodLabel">Do.</label>
                                        <p>This dialog poses a specific question, concisely elaborates on its impact, and provides clear actions.</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media badBlock">
										<img src="components_dialogs_alerts4.png" alt="">
									</div>
                                    <div class="exampleDesc">
										<label class="badLabel">Don't.</label>
                                        <p>This dialog poses an ambiguous question and its scope of impact is unclear.</p>
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
                        <div id="simpleMenus" class="article">
							<h2>Simple menus</h2>
                            <div class="section">
								<div class="column col6">
									<p>Simple menus are used in list views on tablet and mobile devices to display the options for a specific list item. Simple menus immediately commit choices upon selection. See <a href="../components/menus.html#simpleMenus">Components &gt; Menus &gt; Simple Menus</a> for more details about simple menus.</p>
									<p><strong>Disambiguation</strong>: In contrast to simple menus, <a href="../components/dialogs.html#simpleDialogs">simple dialogs</a> can present additional detail related to the options available for a list item or provide navigational or orthogonal actions related to the primary task. Although they can display the same content, simple menus are preferred over simple dialogs because simple menus are less disruptive to the user’s current context.</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="components_dialogs_simplemenu.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
                        <div id="simpleDialogs" class="article">
							<h2>Simple dialogs</h2>
                            <div class="section">
								<div class="column col6">
									<p>Simple dialogs can present additional detail related to the options available for a list item or provide navigational or orthogonal actions related to the primary task. For example, simple dialogs can display avatars, icons, or clarifying subtext, or they can enable users to add an account that’s not currently listed as an option. </p>
									<p>Choosing an option immediately commits the option and closes the menu.</p>
									<p>Touching outside of the dialog, or pressing Back, cancels the action and closes the dialog.</p>
									<p>Simple dialogs are more interruptive than simple menus and should be used sparingly.</p>
								</div>
                                <div class="column col6">
									<div class="media">
										<img src="components_dialogs_simple1.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="components_dialogs_simple2.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
								<div class="column col6">
									<p>Simple dialogs do not have explicit buttons that accept or cancel the operation.</p>
									<p>A simple dialog appears centered vertically and horizontally in the screen.</p>
									<p>The distance between the edges of the screen and the edges of the dialog is minimum 40dp on the left and right, and minimum 24dp on the top and bottom.</p>
									<p>The distance between the edge of the dialog and content is 24dp.</p>
								</div>
                                <div class="column col6">
									<div class="media badBlock">
										<img src="components_dialogs_simple3.png" alt="">
									</div>
                                     <div class="exampleDesc">
										<label class="badLabel">Don't.</label>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media badBlock">
										<img src="components_dialogs_simple4.png" alt="">
									</div>
                                    <div class="exampleDesc">
										<label class="badLabel">Don't.</label>
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
                        <div id="confirmationDialogs" class="article">
							<h2>Confirmation dialogs</h2>
                            <div class="section">
								<div class="column col6">
									<p>Confirmation dialogs require users to explicitly confirm their choice before the option is committed. For example, users can listen to multiple ringtones, but only upon touching OK is the final selection committed.</p>
									<p>Touching Cancel in a confirmation dialog, or pressing Back, cancels the action, discards any changes, and closes the dialog.</p>
									<p>Touching outside of a confirmation dialog will not perform any action; the user must explicitly confirm or cancel to dismiss the confirmation dialog.</p>
								</div>
                                <div class="column col6">
									<div class="media">
										<img src="components_dialogs_confirmation1.png" alt="">
									</div>
                                    <div class="exampleDesc">
										<p>The ringtone choice in the confirmation dialog will not be set until the user touches OK.</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="components_dialogs_confirmation2.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
								<div class="column col6">
									<p>Confirmation dialogs can use layouts other than lists, for example a date picker, but they are still focused on specifying a single value (picking the date, but not picking the time & date).</p>
								</div>
                                <div class="column col6">
									<div class="media">
										<img src="components_dialogs_confirmation3.png" alt="">
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="components_dialogs_confirmation4.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
								<div class="column col6">
									<p>Confirmation dialogs provide both an explicit confirmation button and explicit Cancel button. The explicit Cancel button clarifies that leaving the confirmation dialog will discard changes, for example, by touching Cancel or pressing Back.</p>
									<p>Confirmation dialogs should avoid launching additional simple dialogs or simple menus. The additional layers of material can increase the app’s perceived z-depth, and add unnecessary visual complexity.</p>
									<p>If additional simple dialogs or simple menus are needed to complete the task or process, consider using a <a href="../components/dialogs.html#fullScreenDialogs">full-screen dialog</a> instead of a confirmation dialog.</p>
								</div>
                                <div class="column col6">
									<div class="media goodBlock">
										<img src="components_dialogs_confirmation5.png" alt="">
									</div>
                                     <div class="exampleDesc">
										<label class="goodLabel">Do.</label>
                                        <p>Provide an explicit confirmation button and explicit cancel button.</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media badBlock">
										<img src="components_dialogs_confirmation6.png" alt="">
									</div>
                                    <div class="exampleDesc">
										<label class="badLabel">Don't.</label>
                                        <p>A single dialog button makes the system Back action ambiguous: does Back cancel or confirm?</p>
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
                        <div id="fullScreenDialogs" class="article">
							<h2>Full-screen dialogs</h2>
                            <div class="section">
								<div class="column col12">
									<p><strong>Mobile only</strong>: Because of limited real estate on mobile devices, content that may appear as a dialog in other form factors (tablet, desktop, etc.) may be more appropriately presented in a full-screen dialog.</p>
								</div>
								<br class="clear" />
                            </div>
                            <div class="section">
								<div class="column col6">
									<p>Full-screen dialogs can be used to group a set of tasks forming a complex operation that requires an explicit confirmation or action, such as save or create, before changes are committed or discarded, for example, creating a calendar entry.</p>
									<p>Full-screen dialogs enable complex layouts, minimize the appearance of stacked sheets of material (dialogs above dialogs) and thus an increase in the app’s perceived z-depth. They enable individual tasks to launch simple menus or simple dialogs as part of the complex operation.</p>
									<p>Consider using a full-screen dialog when the content or process meets any of the following criteria:</p>
                                    <ul>
                                        <li>The dialog’s content includes components like pickers or form fields requiring IME input</li>
                                        <li>When changes are not saved in real time</li>
                                        <li>When there is no draft capability in the app</li>
                                        <li>When performing batch operations or queuing changes prior to submitting them</li>
                                    </ul>
                                    <p>In the example to the right, the full-screen dialog supports a simple dialog used to pick dates. No modifications and selections made in the full-screen dialog are saved until Save is touched. Touching the X will discard all changes and exit the full-screen dialog.</p>
								</div>
                                <div class="column col6">
									<div class="media">
										<img src="components_dialogs_fullscreen1.png" alt="">
									</div>
                                    <div class="exampleDesc">
										<p>Full-screen dialog</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="components_dialogs_fullscreen2.png" alt="">
									</div>
                                    <div class="exampleDesc">
										<p>Date picker opened from full-screen dialog</p>
									</div>
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
								<div class="column col6">
									<p>In full-screen dialogs, the confirmation and dismissive actions are at the top of the screen. </p>
									<p>The confirmation action is at the top right of the screen and uses descriptive and accurate words, such as “save”, “send”, “add”, “share”, “update”, or “create”.</p>
									<p>Don’t use vague actions such as “done” or “ok” or “close” for the confirmation action. They are too similar in meaning to the X and non-specific in their result.</p>
									<p>The confirmation action is disabled until all mandatory criteria in the dialog are met.</p>
									<p>The discard action, an X at the top left of the screen, closes the full-screen dialog and discards any changes. The Back button is equivalent to the discard action.</p>
									<p>If the user has made any changes, they are prompted to confirm the discard action.</p>
									<p>If no changes have been made, touching the X or Back immediately closes the dialog and no discard confirmation is required.</p>
								</div>
                                <div class="column col6">
									<div class="media badBlock">
										<img src="components_dialogs_fullscreen3.png" alt="">
									</div>
                                    <div class="exampleDesc">
										<label class="badLabel">Don't.</label>
                                        <p>Don’t use vague terms like Close for confirmation actions</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									&nbsp;
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
								<div class="column col6">
									<p>The X differs from an Up arrow, which is used when the view’s state is constantly being saved or when apps have draft or autosave capabilities. For example, an Up arrow is used in Settings because all changes are committed immediately. In these cases, the Back button navigation and action match the Up arrow functionality, and there are no explicit confirmation or cancel actions.</p>
								</div>
                                <div class="column col6">
									<div class="media">
										<img src="components_dialogs_fullscreen4.png" alt="">
									</div>
                                    <div class="exampleDesc">
                                        <p>The Up arrow in this Settings example indicates that any changes will be immediately saved upon selection.</p>
									</div>
								</div>
								<div class="column col6 nomarginRight">
									<div class="media">
										<img src="components_dialogs_fullscreen5.png" alt="">
									</div>
                                    <div class="exampleDesc">
                                        <p>Touching the X in this Settings example will discard all changes. Changes will be saved only upon touching Save.</p>
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
                        <div id="specs" class="article lastArticle">
							<h2>Specs</h2>
                            <div class="section">
								<div class="column col6">
									<p>Dialogs contain an optional title, content, and actions.</p>
									<p>The optional title briefly describes the type of choice being made. Titles should always be displayed in their entirety and should be used only when necessary. Titles can be used to clarify the decision being made. For example, a title may indicate what part of a process the dialog relates to or by identifying what will be affected by the decision, such as a setting.</p>
									<p>Dialog content can vary widely, but typically consists of text and/or UI control elements and is focused on a specific task or process, such as confirming item deletion or choosing a setting.</p>
                                    <p>When needed, actions acknowledge, affirm, or dismiss the particular choice or process presented by the dialog content.</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="components_dialogs_usage2.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
								<div class="column col6">
									<p><strong>A note on accessibility</strong></p>
									<p>To ensure usability for people with disabilities, make sure that your buttons have a minimum height of 36dp, but that the touchable target has a minimum height of 48dp.</p>
									<p>The default color of all dialog action text is the application’s theme accent color. Always make sure the action text color uses a <a href="http://www.google.com/design/spec/usability/accessibility.html" target="_blank">sufficient contrast ratio</a> to meet accessibility guidelines. Change the default text color as needed to create a sufficient contrast ratio.</p>
								</div>
								<div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="components_dialogs_usage3.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
								<div class="column col6">
									<p>Dialogs present a focused and limited set of actions, which are generally affirmative or dismissive.</p>
									<p>Affirmative actions are placed on the right side and continue the process. Affirmative actions may be destructive, like Delete or Remove.</p>
									<p>Dismissive actions are placed directly to the left of affirmative actions and return the user to the originating screen or step in the process.</p>
									<p>Dismissive and affirmative action text can be Cancel/OK or can be more specific active verbs or verb phrases that indicate the outcome of the decision.</p>
								</div>
                                <div class="column col12-1 nomarginRight">
									<div class="media badBlock">
										<img src="components_dialogs_swapped_actions_16.png" alt="">
									</div>
                                    <div class="exampleDesc">
                                        <label class="badLabel">Don't.</label>
                                        <p>Dismissive actions are always placed directly to the left of affirmative actions.</p>
									</div>
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
                                <h3>Button width and padding guidelines</h3>
								<div class="column col6">
									&nbsp;
								</div>
                                <div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="components_dialogs_usage4.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
								<div class="column col6">
									&nbsp;
								</div>
                                <div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="components_dialogs_actions.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
								<div class="column col6">
									&nbsp;
								</div>
                                <div class="column col6">
									<div class="media">
										<img src="components_dialogs_keyline1.png" alt="">
									</div>
								</div>
                                <div class="column col6 nomarginRight">
									&nbsp;
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
                                <h3>Side-by-side buttons</h3>
								<div class="column col6">
									<p>Side-by-side buttons are recommended when the text of each label does not exceed the maximum button width, such as the commonly used OK/Cancel buttons. </p>
									<p>Use the following formula to calculate maximum button width for a given dialog:</p>
									<p>The maximum width for buttons in a dialog = <strong>(Dialog width - 16dp - 16dp - 8dp) / 2</strong></p>
									<p>For example:</p>
									<p>The maximum width for buttons in a 280dp wide dialog = (280dp - 16dp - 16dp - 8dp) / 2 = 120dp</p>
								</div>
                                <div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="components_dialogs_sidebyside.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
                            <div class="section">
                                <h3>Stacked full-width buttons</h3>
								<div class="column col6">
									<p>When text labels exceed the maximum button width, use stacked buttons to accommodate the text. Affirmative actions are stacked above dismissive actions</p>
								</div>
                                <div class="column col12-1 nomarginRight">
									<div class="media">
										<img src="components_dialogs_stacked.png" alt="">
									</div>
								</div>
								<br class="clear" />
							</div>
						</div> <!-- article ends -->
					</div> <!-- chapterArticles ends -->
				</div> <!-- chapterContent ends -->
			</div> <!-- chapter ends -->
			<div id="copyright">
				<p>Sun Junwen&nbsp;|&nbsp;Casper Zhang.</p>
			</div>
        </div> <!-- contentGrid ends -->
	</div>
	<div class="clear"></div>
	<div id="footer">
        <div id="pagePrevious" class="pageNav">
			<div class="pageNavContent">
				<a href="chips.html">
					<img src="../imgs/Arrow-left.png" alt="">
					<span>上一页:</span>
					<div>Chips 列表</div>
				</a>
			</div>
		</div>
		<div id="pageNext" class="pageNav">
			<div class="pageNavContent">
				<a href="dividers.html">
					<img src="../imgs/Arrow-right.png" alt="">
					<span>下一页:</span>
					<div>分割线</div>
				</a>
			</div>
		</div>
	</div>
</body>
</html>
